.columns {
    padding: 96px 0 96px;
    background:
        url('../images/columns_BG--top.jpg') center top / auto 438px no-repeat,
        url('../images/columns_BG--bottom.jpg') center bottom / auto 320px no-repeat;
    background-color: #FF99B1;
}